@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-poppins);
}




.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
/* ... and so on */


.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent, white 30%, white 70%, transparent);
  mask-image: linear-gradient(to bottom, transparent, white 30%, white 70%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.gradient-border {
    border: 1px solid transparent; /* Required for border-image to show */
    border-image: linear-gradient(
        to bottom, 
        #a09f9f 0%,   /* top color */
        transparent 50%,  /* middle color */
        #a09f9f 100%  /* bottom color */
    ) 1;
}
.gradient-border-h {
    border: 1px solid transparent; /* Required for border-image to show */
    border-image: linear-gradient(
        to right, 
        #a09f9f 0%,   /* top color */
        transparent 50%,  /* middle color */
        #a09f9f 100%  /* bottom color */
    ) 1;
}
