@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-poppins);
}




.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
/* ... and so on */


.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent, white 30%, white 70%, transparent);
  mask-image: linear-gradient(to bottom, transparent, white 30%, white 70%, transparent);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}



.custom-gradient-border {
  position: relative;
  overflow: hidden;
}

/* Top border with fade */
.custom-gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
  height: 2px;
 background: linear-gradient(90deg, #666666);
}

/* Bottom border with fade */
.custom-gradient-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0%;
  height: 2px;
  background: linear-gradient(90deg, #666666);
}

/* Left border with fade */
.left-gradient {
  position: absolute;
  top: 0;
  bottom: 70%;
  left: 0;
  width: 2px;
  background: linear-gradient(
    180deg,
    #666666 0%,
    #171717 80%,
    transparent 100%
  );
}

/* Right border with fade */
.right-gradient {
  position: absolute;
  top: 0%;
  bottom: 70%;
  right: 0;
  width: 2px;
  background: linear-gradient(
    180deg,
    #666666 0%,
    #171717 80%,
    transparent 100%
  );
}


/* Bottom Left border fade */
.bottom-left-gradient {
  position: absolute;
  top: 70%;
  bottom: 0;
  left: 0;
  width: 2px;
  background: linear-gradient(
    0deg, /* reversed direction */
    #666666 0%,
    #171717 80%,
    transparent 100%
  );
}

/* Bottom Right border fade */
.bottom-right-gradient {
  position: absolute;
  top: 70%;
  bottom: 0;
  right: 0;
  width: 2px;
  background: linear-gradient(
    0deg, /* reversed direction */
    #666666 0%,
    #171717 80%,
    transparent 100%
  );
}